This is a Jinja template text in markdown.

With a [link](example.com)

and

- bullet
- point
- list

and template code you shouldn't see in the rendered docs...
{% if ip %}
Inivisble block
{% endif %}
